.navbar5-wrapper {
  display: contents;
}
 
.navbar5-container1 {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar5-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar5-image1 {
  height: 3rem;
}
 
.navbar5-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar5-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-container2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-link4-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-icon10 {
  width: 24px;
  height: 24px;
}
 
.navbar5-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-icon12 {
  width: 24px;
  height: 24px;
}
 
.navbar5-container5 {
  top: 30px;
  right: 0px;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  animation-name: fadeInDown;
  flex-direction: column;
  animation-delay: 0s;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar5-menu-item1 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.navbar5-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar5-page11 {
  white-space: nowrap;
}
 
.navbar5-menu-item2 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.navbar5-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar5-page21 {
  white-space: nowrap;
}
 
.navbar5-menu-item3 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.navbar5-content3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar5-page31 {
  white-space: nowrap;
}
 
.navbar5-menu-item4 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.navbar5-content4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar5-page41 {
  white-space: nowrap;
}
 
.navbar5-burger-menu {
  display: none;
}
 
.navbar5-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar5-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar5-nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar5-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar5-logo {
  height: 2rem;
}
 
.navbar5-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar5-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar5-links2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar5-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar5-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar5-icon-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-icon18 {
  width: 24px;
  height: 24px;
}
 
.navbar5-container7 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar5-icon20 {
  width: 24px;
  height: 24px;
}
 
.navbar5-container8 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
}
 
.navbar5-menu-item5 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar5-content5 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar5-page12 {
  white-space: nowrap;
}
 
.navbar5-menu-item6 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar5-content6 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar5-page22 {
  white-space: nowrap;
}
 
.navbar5-menu-item7 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar5-content7 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar5-page32 {
  white-space: nowrap;
}
 
.navbar5-menu-item8 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar5-content8 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar5-page42 {
  white-space: nowrap;
}
 
.navbar5-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar5-icon24 {
  height: var(--dl-layout-size-xsmall);
}
 
.navbar5-icon26 {
  height: var(--dl-layout-size-xsmall);
}
 
.navbar5-container9 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-fragment10 {
  display: contents;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-fragment11 {
  display: contents;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-fragment12 {
  display: contents;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-fragment13 {
  display: contents;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-fragment14 {
  display: contents;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-fragment15 {
  display: contents;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-fragment16 {
  display: contents;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-fragment17 {
  display: contents;
}
 
.about-text17 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar5-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar5-desktop-menu {
    display: none;
  }
  .navbar5-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar5-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar5-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.hero8-wrapper {
  display: contents;
}
 
.hero8-header26 {
  gap: var(--dl-layout-space-twounits);
}
 
.hero8-max-width {
  align-self: center;
}
 
.hero8-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero8-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero8-text1 {
  text-align: center;
}
 
.hero8-text2 {
  text-align: center;
}
 
.hero8-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-fragment18 {
  display: contents;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-fragment19 {
  display: contents;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-fragment20 {
  display: contents;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-fragment21 {
  display: contents;
}
 
.about-text21 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero8-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero8-button1 {
    width: 100%;
  }
  .hero8-button2 {
    width: 100%;
  }
}

.timeline4-wrapper {
  display: contents;
}
 
.timeline4-max-width {
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline4-container11 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.timeline4-text11 {
  text-align: left;
}
 
.timeline4-container12 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline4-timeline-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.timeline4-step1 {
  display: flex;
  position: relative;
  justify-content: center;
}
 
.timeline4-container13 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4-container14 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline4-container15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline4-text15 {
  text-align: left;
}
 
.timeline4-container16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline4-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.timeline4-container17 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4-container18 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline4-container19 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline4-text20 {
  text-align: left;
}
 
.timeline4-container20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline4-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.timeline4-container21 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4-container22 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline4-container23 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline4-text25 {
  text-align: left;
}
 
.timeline4-container24 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline4-step4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.timeline4-container25 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline4-container26 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline4-progress04 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline4-container27 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline4-text30 {
  text-align: left;
}
 
.timeline4-container28 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
 
.about-fragment22 {
  display: contents;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-fragment23 {
  display: contents;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-fragment24 {
  display: contents;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-fragment25 {
  display: contents;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-fragment26 {
  display: contents;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-fragment27 {
  display: contents;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-fragment28 {
  display: contents;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-fragment29 {
  display: contents;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-fragment30 {
  display: contents;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-fragment31 {
  display: contents;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-fragment32 {
  display: contents;
}
 
.about-text32 {
  display: inline-block;
}
 
.about-fragment33 {
  display: contents;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-fragment34 {
  display: contents;
}
 
.about-text34 {
  display: inline-block;
}
 
.about-fragment35 {
  display: contents;
}
 
.about-text35 {
  display: inline-block;
}
 
.about-fragment36 {
  display: contents;
}
 
.about-text36 {
  display: inline-block;
}
 
.about-fragment37 {
  display: contents;
}
 
.about-text37 {
  display: inline-block;
}
 
.about-fragment38 {
  display: contents;
}
 
.about-text38 {
  display: inline-block;
}
 
.about-fragment39 {
  display: contents;
}
 
.about-text39 {
  display: inline-block;
}
 
.about-fragment40 {
  display: contents;
}
 
.about-text40 {
  display: inline-block;
}
 
.about-fragment41 {
  display: contents;
}
 
.about-text41 {
  display: inline-block;
}
 
.about-fragment42 {
  display: contents;
}
 
.about-text42 {
  display: inline-block;
}
 
.about-fragment43 {
  display: contents;
}
 
.about-text43 {
  display: inline-block;
}
 
.about-fragment44 {
  display: contents;
}
 
.about-text44 {
  display: inline-block;
}
 
.about-fragment45 {
  display: contents;
}
 
.about-text45 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .timeline4-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 767px) {
  .timeline4-max-width {
    flex-direction: column;
  }
  .timeline4-text11 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline4-text15 {
    text-align: left;
  }
  .timeline4-text20 {
    text-align: left;
  }
  .timeline4-text25 {
    text-align: left;
  }
  .timeline4-text30 {
    text-align: left;
  }
}
 
@media(max-width: 479px) {
  .timeline4-container11 {
    gap: var(--dl-layout-space-unit);
  }
  .timeline4-container12 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-timeline-container {
    width: 100%;
  }
  .timeline4-container16 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-container20 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-container24 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-container28 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}

.stats3-wrapper {
  display: contents;
}
 
.stats3-max-width {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.stats3-container2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.stats3-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
 
.stats3-container4 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: column;
}
 
.stats3-container5 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
 
.stats3-container6 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: column;
}
 
.stats3-container7 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
 
.about-fragment46 {
  display: contents;
}
 
.about-text46 {
  display: inline-block;
}
 
.about-fragment47 {
  display: contents;
}
 
.about-text47 {
  display: inline-block;
}
 
.about-fragment48 {
  display: contents;
}
 
.about-text48 {
  display: inline-block;
}
 
.about-fragment49 {
  display: contents;
}
 
.about-text49 {
  display: inline-block;
}
 
.about-fragment50 {
  display: contents;
}
 
.about-text50 {
  display: inline-block;
}
 
.about-fragment51 {
  display: contents;
}
 
.about-text51 {
  display: inline-block;
}
 
.about-fragment52 {
  display: contents;
}
 
.about-text52 {
  display: inline-block;
}
 
.about-fragment53 {
  display: contents;
}
 
.about-text53 {
  display: inline-block;
}
 
.about-fragment54 {
  display: contents;
}
 
.about-text54 {
  display: inline-block;
}
 
.about-fragment55 {
  display: contents;
}
 
.about-text55 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .stats3-container3 {
    flex-wrap: wrap;
  }
  .stats3-container6 {
    align-self: flex-start;
  }
  .stats3-container7 {
    align-self: flex-start;
  }
}
 
@media(max-width: 767px) {
  .stats3-title {
    text-align: center;
  }
  .stats3-container3 {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }
  .stats3-container4 {
    align-self: flex-start;
  }
  .stats3-text11 {
    text-align: center;
  }
  .stats3-container5 {
    flex: 1;
  }
  .stats3-text13 {
    text-align: center;
  }
  .stats3-text15 {
    text-align: center;
  }
  .stats3-text17 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .stats3-title {
    align-self: center;
    text-align: center;
  }
  .stats3-container3 {
    flex-wrap: wrap;
  }
  .stats3-container5 {
    align-self: flex-start;
  }
  .stats3-container6 {
    align-self: flex-start;
  }
  .stats3-container7 {
    align-self: flex-start;
  }
}

.logos2-wrapper {
  display: contents;
}
 
.logos2-container1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.logos2-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.logos2-text1 {
  width: 45%;
  text-align: center;
}
 
.logos2-logo1 {
  object-fit: contain;
}
 
.logos2-logo2 {
  object-fit: contain;
}
 
.logos2-logo3 {
  object-fit: contain;
}
 
.logos2-logo4 {
  object-fit: contain;
}
 
.logos2-logo5 {
  object-fit: contain;
}
 
.about-fragment56 {
  display: contents;
}
 
.about-text56 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .logos2-text1 {
    width: 100%;
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .logos2-container1 {
    gap: var(--dl-layout-space-twounits);
  }
  .logos2-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}

.testimonial6-wrapper {
  display: contents;
}
 
.testimonial6-max-width {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial6-slider1 {
  width: 100%;
  display: inline-block;
  position: relative;
}
 
.testimonial6-slider-slide1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial6-card1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo1 {
  height: 2rem;
}
 
.testimonial6-text10 {
  text-align: center;
}
 
.testimonial6-avatar1 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image1 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-card2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo2 {
  height: 2rem;
}
 
.testimonial6-text13 {
  text-align: center;
}
 
.testimonial6-avatar2 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image2 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-slider-slide2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial6-card3 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo3 {
  height: 2rem;
}
 
.testimonial6-text16 {
  text-align: center;
}
 
.testimonial6-avatar3 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image3 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-card4 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo4 {
  height: 2rem;
}
 
.testimonial6-text19 {
  text-align: center;
}
 
.testimonial6-avatar4 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image4 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text20 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-slider-pagination1 {
  display: block;
}
 
.testimonial6-slider2 {
  width: 100%;
  display: none;
  position: relative;
  align-self: center;
}
 
.testimonial6-slider-slide3 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial6-card5 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo5 {
  height: 2rem;
}
 
.testimonial6-text22 {
  text-align: center;
}
 
.testimonial6-avatar5 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image5 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text23 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-slider-slide4 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial6-card6 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo6 {
  height: 2rem;
}
 
.testimonial6-text26 {
  text-align: center;
}
 
.testimonial6-avatar6 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image6 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text27 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-slider-slide5 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial6-card7 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo7 {
  height: 2rem;
}
 
.testimonial6-text30 {
  text-align: center;
}
 
.testimonial6-avatar7 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image7 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text31 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-slider-slide6 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial6-card8 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-logo8 {
  height: 2rem;
}
 
.testimonial6-text35 {
  text-align: center;
}
 
.testimonial6-avatar8 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial6-avatar-image8 {
  width: 56px;
  height: 56px;
}
 
.testimonial6-avatar-content8 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial6-text36 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial6-slider-pagination2 {
  display: block;
}
 
.about-fragment57 {
  display: contents;
}
 
.about-text57 {
  display: inline-block;
}
 
.about-fragment58 {
  display: contents;
}
 
.about-text58 {
  display: inline-block;
}
 
.about-fragment59 {
  display: contents;
}
 
.about-text59 {
  display: inline-block;
}
 
.about-fragment60 {
  display: contents;
}
 
.about-text60 {
  display: inline-block;
}
 
.about-fragment61 {
  display: contents;
}
 
.about-text61 {
  display: inline-block;
}
 
.about-fragment62 {
  display: contents;
}
 
.about-text62 {
  display: inline-block;
}
 
.about-fragment63 {
  display: contents;
}
 
.about-text63 {
  display: inline-block;
}
 
.about-fragment64 {
  display: contents;
}
 
.about-text64 {
  display: inline-block;
}
 
.about-fragment65 {
  display: contents;
}
 
.about-text65 {
  display: inline-block;
}
 
.about-fragment66 {
  display: contents;
}
 
.about-text66 {
  display: inline-block;
}
 
.about-fragment67 {
  display: contents;
}
 
.about-text67 {
  display: inline-block;
}
 
.about-fragment68 {
  display: contents;
}
 
.about-text68 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .testimonial6-slider1 {
    display: none;
  }
  .testimonial6-slider-slide1 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial6-slider-slide2 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial6-slider2 {
    display: flex;
  }
  .testimonial6-slider-slide3 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial6-slider-slide4 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial6-slider-slide5 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial6-slider-slide6 {
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .testimonial6-slider-slide1 {
    padding: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide2 {
    padding: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide3 {
    padding: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide4 {
    padding: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide5 {
    padding: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide6 {
    padding: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
}

.team7-wrapper {
  display: contents;
}
 
.team7-max-width {
  gap: var(--dl-layout-space-fiveunits);
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team7-content10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team7-text11 {
  align-self: flex-start;
}
 
.team7-text12 {
  align-self: flex-start;
}
 
.team7-content11 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
 
.team7-card1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-placeholder-image1 {
  width: 80px;
  height: 80px;
}
 
.team7-content12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-title1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-text13 {
  font-style: normal;
  font-weight: 600;
}
 
.team7-text14 {
  text-align: center;
}
 
.team7-social-icons1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team7-card2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-placeholder-image2 {
  width: 80px;
  height: 80px;
}
 
.team7-content13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team7-title2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-text16 {
  font-style: normal;
  font-weight: 600;
}
 
.team7-text17 {
  text-align: center;
}
 
.team7-social-icons2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team7-card3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-placeholder-image3 {
  width: 80px;
  height: 80px;
}
 
.team7-content14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team7-title3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-text19 {
  font-style: normal;
  font-weight: 600;
}
 
.team7-text20 {
  text-align: center;
}
 
.team7-social-icons3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team7-card4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-placeholder-image4 {
  width: 80px;
  height: 80px;
}
 
.team7-content15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team7-title4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-text22 {
  font-style: normal;
  font-weight: 600;
}
 
.team7-text23 {
  text-align: center;
}
 
.team7-social-icons4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team7-card5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-placeholder-image5 {
  width: 80px;
  height: 80px;
}
 
.team7-content16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team7-title5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-text25 {
  font-style: normal;
  font-weight: 600;
}
 
.team7-text26 {
  text-align: center;
}
 
.team7-social-icons5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team7-card6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-placeholder-image6 {
  width: 80px;
  height: 80px;
}
 
.team7-content17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team7-title6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-text28 {
  font-style: normal;
  font-weight: 600;
}
 
.team7-text29 {
  text-align: center;
}
 
.team7-social-icons6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team7-content18 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
}
 
.team7-content19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team7-text31 {
  align-self: flex-start;
  font-stretch: normal;
}
 
.team7-text32 {
  align-self: flex-start;
}
 
.team7-button {
  width: 100%;
  max-width: 300px;
}
 
.about-fragment69 {
  display: contents;
}
 
.about-text69 {
  display: inline-block;
}
 
.about-fragment70 {
  display: contents;
}
 
.about-text70 {
  display: inline-block;
}
 
.about-fragment71 {
  display: contents;
}
 
.about-text71 {
  display: inline-block;
}
 
.about-fragment72 {
  display: contents;
}
 
.about-text72 {
  display: inline-block;
}
 
.about-fragment73 {
  display: contents;
}
 
.about-text73 {
  display: inline-block;
}
 
.about-fragment74 {
  display: contents;
}
 
.about-text74 {
  display: inline-block;
}
 
.about-fragment75 {
  display: contents;
}
 
.about-text75 {
  display: inline-block;
}
 
.about-fragment76 {
  display: contents;
}
 
.about-text76 {
  display: inline-block;
}
 
.about-fragment77 {
  display: contents;
}
 
.about-text77 {
  display: inline-block;
}
 
.about-fragment78 {
  display: contents;
}
 
.about-text78 {
  display: inline-block;
}
 
.about-fragment79 {
  display: contents;
}
 
.about-text79 {
  display: inline-block;
}
 
.about-fragment80 {
  display: contents;
}
 
.about-text80 {
  display: inline-block;
}
 
.about-fragment81 {
  display: contents;
}
 
.about-text81 {
  display: inline-block;
}
 
.about-fragment82 {
  display: contents;
}
 
.about-text82 {
  display: inline-block;
}
 
.about-fragment83 {
  display: contents;
}
 
.about-text83 {
  display: inline-block;
}
 
.about-fragment84 {
  display: contents;
}
 
.about-text84 {
  display: inline-block;
}
 
.about-fragment85 {
  display: contents;
}
 
.about-text85 {
  display: inline-block;
}
 
.about-fragment86 {
  display: contents;
}
 
.about-text86 {
  display: inline-block;
}
 
.about-fragment87 {
  display: contents;
}
 
.about-text87 {
  display: inline-block;
}
 
.about-fragment88 {
  display: contents;
}
 
.about-text88 {
  display: inline-block;
}
 
.about-fragment89 {
  display: contents;
}
 
.about-text89 {
  display: inline-block;
}
 
.about-fragment90 {
  display: contents;
}
 
.about-text90 {
  display: inline-block;
}
 
.about-fragment91 {
  display: contents;
}
 
.about-text91 {
  display: inline-block;
}
 
.about-fragment92 {
  display: contents;
}
 
.about-text92 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .team7-button {
    width: 100%;
  }
}

.footer15-wrapper {
  display: contents;
}
 
.footer15-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
 
.footer15-content {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
}
 
.footer15-actions1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
 
.footer15-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer15-actions2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer15-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer15-container2 {
  width: 365px;
  display: flex;
  align-items: stretch;
}
 
.footer15-text-input {
  width: 100%;
  background-color: transparent;
}
 
.footer15-media {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
 
.footer15-container3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer15-image1 {
  height: 4rem;
}
 
.footer15-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer15-credits1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer15-row {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer15-credits2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.footer15-content3 {
  align-self: center;
}
 
.about-fragment93 {
  display: contents;
}
 
.about-text93 {
  display: inline-block;
}
 
.about-fragment94 {
  display: contents;
}
 
.about-text94 {
  display: inline-block;
}
 
.about-fragment95 {
  display: contents;
}
 
.about-text95 {
  display: inline-block;
}
 
.about-fragment96 {
  display: contents;
}
 
.about-text96 {
  display: inline-block;
}
 
.about-fragment97 {
  display: contents;
}
 
.about-text97 {
  display: inline-block;
}
 
.about-fragment98 {
  display: contents;
}
 
.about-text98 {
  display: inline-block;
}
 
.about-fragment99 {
  display: contents;
}
 
.about-text99 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer15-content {
    flex-direction: row;
  }
  .footer15-newsletter {
    width: 50%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container2 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .footer15-media {
    width: 50%;
  }
  .footer15-image1 {
    height: 4rem;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer15-content3 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .footer15-content {
    gap: var(--dl-layout-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer15-actions1 {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer15-container2 {
    width: 100%;
  }
  .footer15-button {
    width: 208px;
  }
  .footer15-media {
    width: 100%;
    align-items: center;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    padding: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .footer15-credits2 {
    width: auto;
    align-self: stretch;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer15-content {
    gap: var(--dl-layout-space-twounits);
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-actions2 {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container2 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
  }
  .footer15-media {
    width: 100%;
  }
  .footer15-image1 {
    height: 3rem;
  }
  .footer15-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer15-row {
    align-items: center;
    justify-content: center;
  }
  .footer15-credits2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}

.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-fragment10 {
  display: contents;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-fragment11 {
  display: contents;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-fragment12 {
  display: contents;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-fragment13 {
  display: contents;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-fragment14 {
  display: contents;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-fragment15 {
  display: contents;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-fragment16 {
  display: contents;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-fragment17 {
  display: contents;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-fragment18 {
  display: contents;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-fragment19 {
  display: contents;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-fragment20 {
  display: contents;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-fragment21 {
  display: contents;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-fragment22 {
  display: contents;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-fragment23 {
  display: contents;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-fragment24 {
  display: contents;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-fragment25 {
  display: contents;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-fragment26 {
  display: contents;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-fragment27 {
  display: contents;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-fragment28 {
  display: contents;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-fragment29 {
  display: contents;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-fragment30 {
  display: contents;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-fragment31 {
  display: contents;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-fragment32 {
  display: contents;
}
 
.about-text32 {
  display: inline-block;
}
 
.about-fragment33 {
  display: contents;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-fragment34 {
  display: contents;
}
 
.about-text34 {
  display: inline-block;
}
 
.about-fragment35 {
  display: contents;
}
 
.about-text35 {
  display: inline-block;
}
 
.about-fragment36 {
  display: contents;
}
 
.about-text36 {
  display: inline-block;
}
 
.about-fragment37 {
  display: contents;
}
 
.about-text37 {
  display: inline-block;
}
 
.about-fragment38 {
  display: contents;
}
 
.about-text38 {
  display: inline-block;
}
 
.about-fragment39 {
  display: contents;
}
 
.about-text39 {
  display: inline-block;
}
 
.about-fragment40 {
  display: contents;
}
 
.about-text40 {
  display: inline-block;
}
 
.about-fragment41 {
  display: contents;
}
 
.about-text41 {
  display: inline-block;
}
 
.about-fragment42 {
  display: contents;
}
 
.about-text42 {
  display: inline-block;
}
 
.about-fragment43 {
  display: contents;
}
 
.about-text43 {
  display: inline-block;
}
 
.about-fragment44 {
  display: contents;
}
 
.about-text44 {
  display: inline-block;
}
 
.about-fragment45 {
  display: contents;
}
 
.about-text45 {
  display: inline-block;
}
 
.about-fragment46 {
  display: contents;
}
 
.about-text46 {
  display: inline-block;
}
 
.about-fragment47 {
  display: contents;
}
 
.about-text47 {
  display: inline-block;
}
 
.about-fragment48 {
  display: contents;
}
 
.about-text48 {
  display: inline-block;
}
 
.about-fragment49 {
  display: contents;
}
 
.about-text49 {
  display: inline-block;
}
 
.about-fragment50 {
  display: contents;
}
 
.about-text50 {
  display: inline-block;
}
 
.about-fragment51 {
  display: contents;
}
 
.about-text51 {
  display: inline-block;
}
 
.about-fragment52 {
  display: contents;
}
 
.about-text52 {
  display: inline-block;
}
 
.about-fragment53 {
  display: contents;
}
 
.about-text53 {
  display: inline-block;
}
 
.about-fragment54 {
  display: contents;
}
 
.about-text54 {
  display: inline-block;
}
 
.about-fragment55 {
  display: contents;
}
 
.about-text55 {
  display: inline-block;
}
 
.about-fragment56 {
  display: contents;
}
 
.about-text56 {
  display: inline-block;
}
 
.about-fragment57 {
  display: contents;
}
 
.about-text57 {
  display: inline-block;
}
 
.about-fragment58 {
  display: contents;
}
 
.about-text58 {
  display: inline-block;
}
 
.about-fragment59 {
  display: contents;
}
 
.about-text59 {
  display: inline-block;
}
 
.about-fragment60 {
  display: contents;
}
 
.about-text60 {
  display: inline-block;
}
 
.about-fragment61 {
  display: contents;
}
 
.about-text61 {
  display: inline-block;
}
 
.about-fragment62 {
  display: contents;
}
 
.about-text62 {
  display: inline-block;
}
 
.about-fragment63 {
  display: contents;
}
 
.about-text63 {
  display: inline-block;
}
 
.about-fragment64 {
  display: contents;
}
 
.about-text64 {
  display: inline-block;
}
 
.about-fragment65 {
  display: contents;
}
 
.about-text65 {
  display: inline-block;
}
 
.about-fragment66 {
  display: contents;
}
 
.about-text66 {
  display: inline-block;
}
 
.about-fragment67 {
  display: contents;
}
 
.about-text67 {
  display: inline-block;
}
 
.about-fragment68 {
  display: contents;
}
 
.about-text68 {
  display: inline-block;
}
 
.about-fragment69 {
  display: contents;
}
 
.about-text69 {
  display: inline-block;
}
 
.about-fragment70 {
  display: contents;
}
 
.about-text70 {
  display: inline-block;
}
 
.about-fragment71 {
  display: contents;
}
 
.about-text71 {
  display: inline-block;
}
 
.about-fragment72 {
  display: contents;
}
 
.about-text72 {
  display: inline-block;
}
 
.about-fragment73 {
  display: contents;
}
 
.about-text73 {
  display: inline-block;
}
 
.about-fragment74 {
  display: contents;
}
 
.about-text74 {
  display: inline-block;
}
 
.about-fragment75 {
  display: contents;
}
 
.about-text75 {
  display: inline-block;
}
 
.about-fragment76 {
  display: contents;
}
 
.about-text76 {
  display: inline-block;
}
 
.about-fragment77 {
  display: contents;
}
 
.about-text77 {
  display: inline-block;
}
 
.about-fragment78 {
  display: contents;
}
 
.about-text78 {
  display: inline-block;
}
 
.about-fragment79 {
  display: contents;
}
 
.about-text79 {
  display: inline-block;
}
 
.about-fragment80 {
  display: contents;
}
 
.about-text80 {
  display: inline-block;
}
 
.about-fragment81 {
  display: contents;
}
 
.about-text81 {
  display: inline-block;
}
 
.about-fragment82 {
  display: contents;
}
 
.about-text82 {
  display: inline-block;
}
 
.about-fragment83 {
  display: contents;
}
 
.about-text83 {
  display: inline-block;
}
 
.about-fragment84 {
  display: contents;
}
 
.about-text84 {
  display: inline-block;
}
 
.about-fragment85 {
  display: contents;
}
 
.about-text85 {
  display: inline-block;
}
 
.about-fragment86 {
  display: contents;
}
 
.about-text86 {
  display: inline-block;
}
 
.about-fragment87 {
  display: contents;
}
 
.about-text87 {
  display: inline-block;
}
 
.about-fragment88 {
  display: contents;
}
 
.about-text88 {
  display: inline-block;
}
 
.about-fragment89 {
  display: contents;
}
 
.about-text89 {
  display: inline-block;
}
 
.about-fragment90 {
  display: contents;
}
 
.about-text90 {
  display: inline-block;
}
 
.about-fragment91 {
  display: contents;
}
 
.about-text91 {
  display: inline-block;
}
 
.about-fragment92 {
  display: contents;
}
 
.about-text92 {
  display: inline-block;
}
 
.about-fragment93 {
  display: contents;
}
 
.about-text93 {
  display: inline-block;
}
 
.about-fragment94 {
  display: contents;
}
 
.about-text94 {
  display: inline-block;
}
 
.about-fragment95 {
  display: contents;
}
 
.about-text95 {
  display: inline-block;
}
 
.about-fragment96 {
  display: contents;
}
 
.about-text96 {
  display: inline-block;
}
 
.about-fragment97 {
  display: contents;
}
 
.about-text97 {
  display: inline-block;
}
 
.about-fragment98 {
  display: contents;
}
 
.about-text98 {
  display: inline-block;
}
 
.about-fragment99 {
  display: contents;
}
 
.about-text99 {
  display: inline-block;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  -webkit-font-smoothing: antialiased;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  color: inherit;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

details {
  display: block;
  margin: 0;
  padding: 0;
}

summary::-webkit-details-marker {
  display: none;
}

[data-thq="accordion"] [data-thq="accordion-content"] {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 0;
}

[data-thq="accordion"] details[data-thq="accordion-trigger"][open]+[data-thq="accordion-content"] {
  max-height: 1000vh;
}

details[data-thq="accordion-trigger"][open] summary [data-thq="accordion-icon"] {
  transform: rotate(180deg);
}

html {
  scroll-behavior: smooth
}
</style>
<style data-tag="default-style-sheet">
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-theme-neutral-dark);
  background: var(--dl-color-theme-neutral-light);
  fill: var(--dl-color-theme-neutral-dark);
}